<div class="rulesContainer">
  <div class="rule">
    <div class="ruleHeader redCardHeader">
      <div class="centeredTitle">
        <img
          src="/img/featureban/AH.svg"
          alt="red card"
          class="cardIcon redCardIcon"
        />
        <h6 class="heading">Красная карточка</h6>
      </div>
    </div>
    <div class="ruleBody">
      <p class="ruleText">Выберите одно из действий:</p>
      <p class="ruleText">Передвиньте одну из карточек в следующую колонку</p>
      <p class="ruleText">Разблокируйте одну из заблокированных карточек</p>
      <p class="ruleText">Передвиньте новую карточку</p>
      <p class="ruleText">И только в случае, если вы не можете совершить ни один из данных ходов - помогите другим игрокам! Передвиньте в следующую колонку или разблокируйте задачу других игроков.</p>
    </div>
  </div>

  <div class="rule">
    <div class="ruleHeader">
      <div class="centeredTitle">
        <img
          src="/img/featureban/AC.svg"
          alt="red card"
          class="cardIcon"
        />
        <h6 class="heading">Чёрная карточка</h6>
      </div>
    </div>
    <div class="ruleBody">
      <p class="ruleText">Заблокируйте одну из незаблокированных задач</p>
      <p class="ruleText">И начните новую задачу, если таковые имеются. Передвиньте её в колонку «В Работе» даже в случае если вам было нечего заблокировать</p>
      <p class="ruleText">И только в случае, если вы не смогли начать новую задачу - помогите другим игрокам! Передвиньте в следующую колонку или разблокируйте задачу других игроков.</p>
    </div>
  </div>
</div>
