<div class="rulesContainer">
  <div class="rule">
    <div class="ruleHeader redCardHeader">
      <div class="centeredTitle">
        <img
          src="/img/featureban/AH.svg"
          alt="red card"
          class="cardIcon redCardIcon"
        />
        <h6 class="heading">Mouvements avec cartes rouges</h6>
      </div>
    </div>
    <div class="ruleBody">
      <p class="ruleText">Choisissez une des actions suivantes :</p>
      <p class="ruleText">Avancez un de vos items vers la colonne suivante </p>
      <p class="ruleText">Débloquez une de vos cartes bloquées </p>
      <p class="ruleText">Démarrez une nouvelle carte</p>
      <p class="ruleText">Et seulement si vous ne pouvez pas faire ces déplacement sur vos propres cartes, aidez quelqu'un ! Avancez ou débloquer une carte d'un autre joueur</p>
    </div>
  </div>

  <div class="rule">
    <div class="ruleHeader">
      <div class="centeredTitle">
        <img
          src="/img/featureban/AC.svg"
          alt="red card"
          class="cardIcon"
        />
        <h6 class="heading">Mouvements avec carte noire</h6>
      </div>
    </div>
    <div class="ruleBody">
      <p class="ruleText">A LA FOIS bloquez un de vos items non bloqué si vous en avez un</p>
      <p class="ruleText">ET  démarrez un nouvel item si disponible, en le déplaçant vers la première colonne en cours (même si vous n'avez rien à bloquer)</p>
      <p class="ruleText">Et seulement si vous ne pouvez pas démarrer un nouvel item, aidez quelqu'un ! Avancez ou déplacez une carte d'un autre joueur</p>
    </div>
  </div>
</div>