<h6 class="heading">Правила игры</h6>
<p class="body">Игра разделена на несколько итераций. Основная цель первой итерации - визуализация рабочего процесса. Каждая карточка на доске представляет собой задачу, которую должна выполнить ваша команда. Все новые задачи появляются в колонке «Очередь». Чтобы выполнить задачу, вы должны доставить её в колонку «Завершено», пройдя при этом промежуточные этапы - «В Работе» и «Тестирование».</p>
<img src="{{assetsPath}}assets/workflow.png" alt="workflow" class="image" />
<p class="body">Когда вы перемещаете карточку в колонку «В Работе» - вы становитесь ответственным за эту задачу, и ваша аватарка добавляется на данную карточку.</p>
<img src="{{assetsPath}}assets/card-owners.png" alt="card owners" class="image" />

<h6 class="heading">Ограничение на количество задач в работе</h6>
<p class="body">Числа рядом с названиями колонок «В Работе» и «Тестирование» обозначают ограничение на количество задач в работе (WIP - Work In Progress лимиты). Вы не можете передвинуть задачу в колонку, WIP лимиты которой превышены или заполнены до предела</p>
<img src="{{assetsPath}}assets/wip-limits.png" alt="workflow" class="image" />

<h6 class="heading">Блокировки</h6>
<p class="body">Блокировка означает, что вы не можете продолжить работу над задачей по определённым причинам. Заблокированную карточку нельзя передвинуть в следующую колонку.</p>
<img src="{{assetsPath}}assets/blocked.png" alt="blocked info" class="image" />

{{> (resolvePartial lng "cardMoves")}}

{{> (resolvePartial lng "rulesBlock")}}

<h6 class="heading">Цель игры</h6>
<p class="body">Основная цель игры доставить как можно больше задач в колонку «Завершено».</p>