<h6 class="heading">Третья итерация</h6>
<p class="body">Правила остаются точно такими же как и в предыдущей итерации.</p>
<p class="body">Все задачи предыдущих итераций удалены. В колонку «Очередь» добавлены новые задачи. Это позволит наглядно сравнить результаты и метрики предыдущих итераций с текущей.</p>
<p class="body">Чтобы более точно отслеживать ваш командный прогресс, мы добавили гистограммы.</p>
<img src="{{assetsPath}}assets/charts.png" alt="charts" class="image" />

<h6 class="heading">Накопительная диаграмма потока</h6>
<img src="{{assetsPath}}assets/cfd.png" alt="cfd" class="image" />
<p class="body">Один из графиков, который даёт возможность быстро оценить, что происходит в проекте или работе над продуктом. Горизонтальная ось – это ось времени. На вертикальной оси обозначается количество задач на каждом этапе процесса в соответствующий день. С одной стороны на графике можно найти стандартную для проекта информацию – сколько работы выполнено, сколько задач осталось, темп выполнения проекта. Это основные метрики. С другой стороны, понимая сущность графика вы сможете увидеть все типы проблем, с которыми может столкнуться команда.</p>

<h6 class="heading">Время выполнения</h6>
<img src="{{assetsPath}}assets/lead-time.png" alt="lead time" class="image" />
<p class="body">График помогает узнать сколько времени понадобилось вашей команде на выполнение каждой задачи.</p>

<hr class="divider"/>

{{> (resolvePartial lng "rulesBlock")}}
