<h6 class="heading">Tercera iteración</h6>
<p class="body">Las reglas son exactamente las mismas que antes.</p>
<p class="body">Todas las tarjetas de las iteraciones previas han sido eliminadas y se han añadido tarjetas nuevas a la columna de “Cola”. De esta manera, será mucho más sencillo comparar resultados y métricas de las anteriores iteraciones y la iteración actual.</p>
<p class="body">Hemos añadido histogramas para mostrar el progreso.</p>
<img src="{{assetsPath}}assets/charts.png" alt="charts" class="image" />

<h6 class="heading">CFD (Cumulative Flow Diagram, Diagrama de Flujo Acumulado)</h6>
<img src="{{assetsPath}}assets/cfd.png" alt="cfd" class="image" />
<p class="body">El gráfico muestra el número total de elementos de tareas. El eje horizontal del CFD representa el espacio de tiempo en el que el gráfico está visualizando los datos. El eje verticual muestra el número acumulado de tarjetas que están en el flujo de trabajo en los diferentes momentos. Las bandas de diferentes colores que dividen las secciones son los diferentes estados del flujo de trabajo. Usando el CFD es posible obtener una idea de la duración del tiempo de ciclo (cycle time) de las tareas de un solo vistazo</p>

<h6 class="heading">Lead time</h6>
<img src="{{assetsPath}}assets/lead-time.png" alt="lead time" class="image" />
<p class="body">El gráfico del Tiempo de Entrega (Lead Time) permite ver la media de días que las tareas tardan en completar el proceso.</p>

<hr class="divider"/>

{{> (resolvePartial lng "rulesBlock")}}
