<div class="rulesContainer">
  <div class="rule">
    <div class="ruleHeader redCardHeader">
      <div class="centeredTitle">
        <img
          src="/img/featureban/AH.svg"
          alt="red card"
          class="cardIcon redCardIcon"
        />
        <h6 class="heading">Red card moves</h6>
      </div>
    </div>
    <div class="ruleBody">
      <p class="ruleText">Choose one of the following actions:</p>
      <p class="ruleText">Advance one of your unblocked cards one column right</p>
      <p class="ruleText">Unblock one of your blocked cards</p>
      <p class="ruleText">Start one new card</p>
      <p class="ruleText">If and only if you can’t make one of these moves for yourself, help someone! Advance or unblock another player’s card</p>
    </div>
  </div>

  <div class="rule">
    <div class="ruleHeader">
      <div class="centeredTitle">
        <img
          src="/img/featureban/AC.svg"
          alt="red card"
          class="cardIcon"
        />
        <h6 class="heading">Black card moves</h6>
      </div>
    </div>
    <div class="ruleBody">
      <p class="ruleText">BOTH block one of your currently unblocked items if you have one to block</p>
      <p class="ruleText">AND start a new item if any remain, move it to the first in-progress column (even if you had nothing to block)</p>
      <p class="ruleText">If and only if you can’t start a new item, help someone! Advance or unblock another player’s card</p>
    </div>
  </div>
</div>