<div class="rulesContainer">
  <div class="rule">
    <div class="ruleHeader redCardHeader">
      <div class="centeredTitle">
        <img
          src="/img/featureban/AH.svg"
          alt="red card"
          class="cardIcon redCardIcon"
        />
        <h6 class="heading">Züge bei einer roten Karte</h6>
      </div>
    </div>
    <div class="ruleBody">
      <p class="ruleText">Wähle eine der folgenden Aktionen aus:</p>
      <p class="ruleText">Zieh eine deiner nicht geblockten Karten eine Spalte nach rechts</p>
      <p class="ruleText">Entblocke eine deiner geblockten Karten</p>
      <p class="ruleText">Beginne eine neue Karte</p>
      <p class="ruleText">Nur, wenn nichts davon geht: hilf einem anderen Spieler. – ziehe or entblocke eine seiner Karten</p>
    </div>
  </div>

  <div class="rule">
    <div class="ruleHeader">
      <div class="centeredTitle">
        <img
          src="/img/featureban/AC.svg"
          alt="red card"
          class="cardIcon"
        />
        <h6 class="heading">Züge bei einer schwarzen Karte</h6>
      </div>
    </div>
    <div class="ruleBody">
      <p class="ruleText">Blocke eine deiner Karten (nur wenn möglich)</p>
      <p class="ruleText">UND starte eine neue Karte (auch wenn du keine Karte blocken konntest)</p>
      <p class="ruleText">Nur wenn Du keine neue Karte starten konntest, hilf einem anderen Spieler – ziehe or entblocke eine seiner Karten</p>
    </div>
  </div>
</div>
