<div class="rulesContainer">
  <div class="rule">
    <div class="ruleHeader redCardHeader">
      <div class="centeredTitle">
        <img
          src="/img/featureban/AH.svg"
          alt="red card"
          class="cardIcon redCardIcon"
        />
        <h6 class="heading">Червона картка</h6>
      </div>
    </div>
    <div class="ruleBody">
      <p class="ruleText">Виберіть одну із дій:</p>
      <p class="ruleText">Пересуньте одну із карток в наступну колонку</p>
      <p class="ruleText">Разблокуйте одну із заблокованих карток</p>
      <p class="ruleText">Пересуньте нову картку</p>
      <p class="ruleText">І тільки у випадку, якшо ви не можете зробити жодну із цих дій - допоможіть іншим гравцям! Пересуньте в наступну колонку або розблокуйте задачу іншого гравця.</p>
    </div>
  </div>

  <div class="rule">
    <div class="ruleHeader">
      <div class="centeredTitle">
        <img
          src="/img/featureban/AC.svg"
          alt="red card"
          class="cardIcon"
        />
        <h6 class="heading">Чорна картка</h6>
      </div>
    </div>
    <div class="ruleBody">
      <p class="ruleText">Заблокуйте одну із незаблокованих задач</p>
      <p class="ruleText">Та почніть нову задачу, якщо є можливість. Пересуньте її в колонку «В Роботі» навіть у випадку коли вам не було що блокувати</p>
      <p class="ruleText">І тільки у випадку коли ви не можете почати нову задачу - допоможіть іншим гравцям! Пересуньте в наступну колонку або розблокуйте задачу іншого гравця.</p>
    </div>
  </div>
</div>
