<div class="rulesContainer">
  <div class="rule">
    <div class="ruleHeader redCardHeader">
      <div class="centeredTitle">
        <img
          src="/img/featureban/AH.svg"
          alt="red card"
          class="cardIcon redCardIcon"
        />
        <h6 class="heading">Movimientos de las cartas rojas</h6>
      </div>
    </div>
    <div class="ruleBody">
      <p class="ruleText">Elige una de las siguientes acciones:</p>
      <p class="ruleText">Mueve una de tus tarjetas no bloqueadas una columna a la derecha</p>
      <p class="ruleText">Desbloquea una de tus tarjetas bloqueadas</p>
      <p class="ruleText">Comienza una nueva tarjeta o tarea</p>
      <p class="ruleText">Solo y solo si no puedes hacer ninguno de estos movimientos en tus tarjetas, ayuda a un compañero. Mueve o desbloquea una de sus tarjetas</p>
    </div>
  </div>

  <div class="rule">
    <div class="ruleHeader">
      <div class="centeredTitle">
        <img
          src="/img/featureban/AC.svg"
          alt="red card"
          class="cardIcon"
        />
        <h6 class="heading">Movimientos de las cartas negras</h6>
      </div>
    </div>
    <div class="ruleBody">
      <p class="ruleText">Bloquea una de las tarjetas que no tienes bloqueadas, si es que tienes alguna sin bloquear</p>
      <p class="ruleText">Y comienza una de las tareas pendientes moviéndola a la primera columna de "en progreso" (incluso si no has podido bloquear ninguna tarjeta)</p>
      <p class="ruleText">Solo y solo si no has podido comenzar ninguna tarea nueva, ayuda a un compañero. Mueve o deesbloquea una de sus tarjetas</p>
    </div>
  </div>
</div>
