<h6 class="heading">第三个迭代</h6>
<p class="body">规则和以前完全一样。</p>
<p class="body">以前迭代的所有卡片被删除，《队列》栏中添加了新的卡片。这样一来，将更容易比较以前的迭代和当前迭代的结果和指标。</p>
<p class="body">我们增加了直方图以帮助你跟踪你的进展。</p>
<img src="{{assetsPath}}assets/charts.png" alt="charts" class="image" />

<h6 class="heading">累积流图</h6>
<img src="{{assetsPath}}assets/cfd.png" alt="cfd" class="image" />
<p class="body">该图表跟踪工作项目的总数。CFD的横轴代表图表显示数据的时间范围。纵轴显示在不同时间点上处于工作流程中的卡片累积数量。不同颜色的带子划分了向上流动的部分，是工作流程的不同阶段。使用CFD，你只需看一眼就能知道你的任务的大致周期是多长。</p>

<h6 class="heading">前置时间</h6>
<img src="{{assetsPath}}assets/lead-time.png" alt="lead time" class="image" />
<p class="body">前置时间图表允许你查看工作流经你的流程所需的天数。</p>

<hr class="divider"/>

{{> (resolvePartial lng "rulesBlock")}}
