<h6 class="heading">Terceira iteração</h6>
<p class="body">As regras são exatamente as mesmas de antes.</p>
<p class="body">Todos os cartões das iterações anteriores são removidos, são adicionados novos cartões na coluna «Opções». Dessa forma, será muito mais fácil comparar resultados e métricas de iterações anteriores com a iteração atual.</p>
<p class="body">Adicionamos histogramas para ajudá-lo a acompanhar seu progresso.</p>
<img src="{{assetsPath}}assets/charts.png" alt="charts" class="image" />

<h6 class="heading">Diagrama de fluxo cumulativo</h6>
<img src="{{assetsPath}}assets/cfd.png" alt="cfd" class="image" />
<p class="body">O gráfico rastreia o número total de itens de trabalho. O eixo horizontal do CFD representa o período para o qual o gráfico está visualizando dados. O eixo vertical mostra o número acumulado de cartões que estão no fluxo de trabalho nos vários pontos no tempo. As faixas de cores diferentes que dividem seções do fluxo ascendente são os diferentes estágios do seu fluxo de trabalho. Usando um CFD, você pode ter uma idéia de quanto tempo é o tempo de ciclo aproximado de suas tarefas com apenas uma olhada.</p>

<h6 class="heading">Lead time</h6>
<img src="{{assetsPath}}assets/lead-time.png" alt="lead time" class="image" />
<p class="body">O gráfico de lead time permite que você visualize o número médio de dias em que o trabalho leva para fluir pelo processo.</p>

<hr class="divider"/>

{{> (resolvePartial lng "rulesBlock")}}
