<h6 class="heading">Third iteration</h6>
<p class="body">Die Regeln bleiben unverändert</p>
<p class="body">Alle Karten aus den vorherigen Runden werden entfernt und neue Karten in der ersten Spalte  hinzugefügt. Dadurch wird es einfacher, Ergebnisse und Metriken aus früheren Runden mit der aktuellen Runde zu vergleichen.</p>
<p class="body">Wir haben Metriken hinzugefügt, damit man den Fortschritt verfolgen kannst.</p>
<img src="{{assetsPath}}assets/charts.png" alt="charts" class="image" />

<h6 class="heading">Cumulative Flow Diagram (CFD)</h6>
<img src="{{assetsPath}}assets/cfd.png" alt="cfd" class="image" />
<p class="body">Das Diagramm zeigt die Gesamtzahl der Karten. Die horizontale Achse des CFDs stellt die Tage dar. Die vertikale Achse zeigt die kumulierte Anzahl der Karten an, die sich zum jeweiligen Tag am Board befinden. Die farbigen Bänder, die sich im CFD ergeben, sind die verschiedenen Phasen des Workflows. Mit einem CFD können man sich auf einen Blick ein Bild davon machen, wie lang die ungefähre Durchlaufzeit der Aufgaben ist.</p>

<h6 class="heading">Lead Time</h6>
<img src="{{assetsPath}}assets/lead-time.png" alt="lead time" class="image" />
<p class="body">Das Lead Time Chart gibt einen Überblick über die  Anzahl der Tage, die die Arbeiten für den Durchlauf über das Board benötigt haben.</p>

<hr class="divider"/>

{{> (resolvePartial lng "rulesBlock")}}
