<h6 class="heading">Правила гры</h6>
<p class="body">Гра поділена на кілька ітерацій. Основна ціль першої ітерації - візуалізація робочого процесу. Кожна картка на дошці являє собою задачу, яку має виконати ваша команда. Всі нові задачі з'являються в колонці «Черга». Щоб виконати задачу, ви маєте поставити її а колонку «Завершено», пройшовши при цьому всі проміжні етапи - «В Роботі» та «Перевірка».</p>
<img src="{{assetsPath}}assets/workflow.png" alt="workflow" class="image" />
<p class="body">Коли ви переміщуєте картку в колонку «В Роботі» - ви стаєте відповідальним ща цю задачу, та ваш аватар додається на цю картку.</p>
<img src="{{assetsPath}}assets/card-owners.png" alt="card owners" class="image" />

<h6 class="heading">Обмеження на кількість задач в роботі</h6>
<p class="body">Числа поруч із назвою колонок «В Роботі» та «Перевірка» визначають обмеження на кількість задач в роботі (WIP - Work In Progress ліміти). Ви не можете пересунути задачу в колонку, WIP ліміти якої перевищені або заповнені до межі</p>
<img src="{{assetsPath}}assets/wip-limits.png" alt="workflow" class="image" />

<h6 class="heading">Блокування</h6>
<p class="body">Блокування визначає, що ви не можете продовжити роботу над задачею з наступних причин. Заблокировану картку неможна пересунути в наступну колонку.</p>
<img src="{{assetsPath}}assets/blocked.png" alt="blocked info" class="image" />

{{> (resolvePartial lng "cardMoves")}}

{{> (resolvePartial lng "rulesBlock")}}

<h6 class="heading">Мета гры</h6>
<p class="body">Основна мета гри доставити якнайбільш задач до колонки «Завершені».</p>
