<h6 class="heading">Третя ітерація</h6>
<p class="body">Правила залишаються такими самими як і в попередній ітерації.</p>
<p class="body">Всі задачі попередніх ітерацій відалені. В колонку «Черга» додані нові задачи. Це дозволить наглядно порівняти результати та метрики попередніх ітерацій з поточною.</p>
<p class="body">Щоб точніше відстежувати ваш командний прогрес, ми додати гістограми.</p>
<img src="{{assetsPath}}assets/charts.png" alt="charts" class="image" />

<h6 class="heading">Накопичувальна діаграма потоку</h6>
<img src="{{assetsPath}}assets/cfd.png" alt="cfd" class="image" />
<p class="body">Один із графіків, которий дає можливість швидко оцінити, що відбувається в проекті або в роботі над продуктом. Горизонтальна вісь – цу вісь часу. На вертикальній осі візначається кількість задач на кожному етапі процесу у відповідний день. З одного боку на графіку можна знайти стандартну для проекта інформацію – скільки роботи киконано, скільки задач залишилось, темп виконання проекту. Це основні метрики. З іншого боку, розумія сутність графіку ви маєте змогу побачити усі типи проблем, з якими може стикнутись команда.</p>

<h6 class="heading">Час виконання</h6>
<img src="{{assetsPath}}assets/lead-time.png" alt="lead time" class="image" />
<p class="body">Графік допомагає дізнатись скільки часу знадобилось вашій команді на виконання кожної із задач.</p>

<hr class="divider"/>

{{> (resolvePartial lng "rulesBlock")}}
