<div class="rulesContainer">
  <div class="rule">
    <div class="ruleHeader redCardHeader">
      <div class="centeredTitle">
        <img
          src="/img/featureban/AH.svg"
          alt="red card"
          class="cardIcon redCardIcon"
        />
        <h6 class="heading">Akcje dla czerwonej karty</h6>
      </div>
    </div>
    <div class="ruleBody">
      <p class="ruleText">Wybierz jedną z następujących akcji:</p>
      <p class="ruleText">Przesuń jedno ze swoich niezablokowanych zadań o jedną kolumnę w prawo</p>
      <p class="ruleText">Odblokuj jedno ze swoich zadań</p>
      <p class="ruleText">Rozpocznij nowe zadanie</p>
      <p class="ruleText">Tylko jeśli nie możesz rozpocząć nowego zadania pomóż komuś innemu. Przesuń lub odblokuj zadanie innego gracza</p>
    </div>
  </div>

  <div class="rule">
    <div class="ruleHeader">
      <div class="centeredTitle">
        <img
          src="/img/featureban/AC.svg"
          alt="red card"
          class="cardIcon"
        />
        <h6 class="heading">Akcje dla czarnej karty</h6>
      </div>
    </div>
    <div class="ruleBody">
      <p class="ruleText">Zablokuj jedno ze swoich niezablokowanych zadań jeśli takie masz</p>
      <p class="ruleText">ORAZ rozpocznij nowe zadanie jeśli jakieś są dostępne, przesuń je do pierwszej kolumnu w toku, również kiedy nie masz nic do zablokowania.</p>
      <p class="ruleText">i tylko jeśli nie możesz przesunąć swoich zadanie możesz pomóc komuś innemu! Przesuń lub odblokuj zadanie innego gracza</p>
    </div>
  </div>
</div>