<div class="rulesContainer">
  <div class="rule">
    <div class="ruleHeader redCardHeader">
      <div class="centeredTitle">
        <img
          src="/img/featureban/AH.svg"
          alt="red card"
          class="cardIcon redCardIcon"
        />
        <h6 class="heading">红牌的行动</h6>
      </div>
    </div>
    <div class="ruleBody">
      <p class="ruleText">从以下行动中选择一个：</p>
      <p class="ruleText">将你的一张未受阻的牌向右推进一栏</p>
      <p class="ruleText">解除你的一张受阻的卡片</p>
      <p class="ruleText">开始一个新的卡片</p>
      <p class="ruleText">如果也只有当你无法开始新的工作项时，请帮助别人！推进或解除他人的一个受阻工作项。</p>
    </div>
  </div>

  <div class="rule">
    <div class="ruleHeader">
      <div class="centeredTitle">
        <img
          src="/img/featureban/AC.svg"
          alt="red card"
          class="cardIcon"
        />
        <h6 class="heading">黑牌的行动</h6>
      </div>
    </div>
    <div class="ruleBody">
      <p class="ruleText">如果你有未受阻的工作项，就阻碍其中的一个。</p>
      <p class="ruleText">并开始一个新的工作项，如果还有剩余的话。就把它移到第一个正在进行的栏里（即使你没有任何工作项可以受阻）。</p>
      <p class="ruleText">如果也只有当你无法开始新的工作项时，请帮助别人！推进或解除他人的一个受阻工作项。</p>
    </div>
  </div>
</div>