<div class="rulesContainer">
  <div class="rule">
    <div class="ruleHeader redCardHeader">
      <div class="centeredTitle">
        <img
          src="/img/featureban/AH.svg"
          alt="red card"
          class="cardIcon redCardIcon"
        />
        <h6 class="heading">Movimentos da carta vermelha</h6>
      </div>
    </div>
    <div class="ruleBody">
      <p class="ruleText">Escolha uma das seguintes ações:</p>
      <p class="ruleText">Avance um dos seus cartões desbloqueados uma coluna à direita</p>
      <p class="ruleText">Desbloqueie um dos seus cartões bloqueados</p>
      <p class="ruleText">Iniciar um novo cartão</p>
      <p class="ruleText">Se, e somente se, você não puder fazer uma dessas ações, ajude alguém! Avance ou desbloqueie o cartão de outro jogador</p>
    </div>
  </div>

  <div class="rule">
    <div class="ruleHeader">
      <div class="centeredTitle">
        <img
          src="/img/featureban/AC.svg"
          alt="red card"
          class="cardIcon"
        />
        <h6 class="heading">Movimentos da carta preta</h6>
      </div>
    </div>
    <div class="ruleBody">
      <p class="ruleText">AMBOS bloqueiam um dos itens atualmente desbloqueados se você tiver um para bloquear</p>
      <p class="ruleText">E inicie um novo item, se houver algum, mova-o para a primeira coluna Fazendo (mesmo se você não tiver nada para bloquear)</p>
      <p class="ruleText">Se, e somente se, você não conseguir iniciar um novo item, ajude alguém! Avance ou desbloqueie o cartão de outro jogador</p>
    </div>
  </div>
</div>